{% extends 'susana/dashboard.html' %}

{% load staticfiles %}

{% block content %}
    <form action="{% url 'login:salvar_login' %}" method="post" id="form">
        {% csrf_token %}
        <div class="row">
            <div class="form-group label-floating col-md-6">
                <label for="nome" class="control-label">Nome (*)</label>
                <input name="nome" id="nome" class="form-control" autofocus {% if user.first_name %}value="{{ user.first_name }}"{% endif %} required oninvalid="this.setCustomValidity('Campo requerido')" onchange="try{setCustomValidity('')}catch(e){}">
            </div>
            <div class="form-group label-floating col-md-6">
                <label for="sobrenome" class="control-label">Sobrenome</label>
                <input name="sobrenome" id="sobrenome" class="form-control" {% if user.last_name %}value="{{ user.last_name }}"{% endif %}>
            </div>
        </div>
        <div class="row">
            <div class="form-group label-floating col-md-12">
                <label for="email" class="control-label">Email</label>
                <input name="email" id="email" type="email" class="form-control" {% if user.email %}value="{{ user.email }}"{% endif %}>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="form-group col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="alterar_senha" id="alterar_senha">
                        <span class="checkbox-material"></span>
                        Alterar Acesso
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group label-floating col-md-4">
                <label for="usuario" class="control-label">Usuário</label>
                <input name="usuario" id="usuario" class="form-control" {% if user.username %}value="{{ user.username }}"{% endif %} readonly>
            </div>
            <div class="form-group label-floating col-md-4">
                <label for="senha" class="control-label">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" readonly>
            </div>
            <div class="form-group label-floating col-md-4">
                <label for="senha_confirmacao" class="control-label">Confirmar Senha</label>
                <input type="password" name="senha_confirmacao" id="senha_confirmacao" class="form-control" readonly>
            </div>
        </div>

        <hr>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" id='btSalvar'>
                <i class="material-icons">save</i> Salvar
            </button>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <script>
        $("#alterar_senha").click(function() {
            // verifica se está marcado
            if ($("#alterar_senha").is(':checked')) {
                // retira o readonly dos campos de acesso
                $("#usuario, #senha, #senha_confirmacao").attr("readonly", false);
            } else {
                // coloca o readonly
                $("#usuario, #senha, #senha_confirmacao").attr("readonly", true);
            }
        });
    </script>
{% endblock %}