{% load staticfiles %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
    <h3 class="modal-title h-title" id="alterarDialogLabel">{{ submissao.lab }} - {{ submissao.lab.disciplina }} - Detalhes de Submissão {{ submissao.data_submissao }}...</h3>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Testes corretos: {{ submissao.qtd_testes_corretos }}/{{ submissao.lab.qtd_testes }}</h4>
    </div>
</div>

<hr>

<div class="panel panel-primary">
    <div class="panel-heading">Compilação</div>
    <div class="panel-body">
        {% for linha in submissao.get_linhas_compilacao %}
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ linha }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">Testes</div>
    <div class="panel-body">
        {% for linha in submissao.get_linhas_testes %}
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ linha }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if submissao.qtd_testes_corretos == submissao.lab.qtd_testes %}
    <audio src="{% static 'susana/music/success-song.mp3' %}" autoplay>
        <embed src="{% static 'susana/music/success-song.mp3' %}" width="180" height="90" hidden="true"></embed>
    </audio>
{% endif %}