{% extends 'susana/dashboard.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'susana/dist/css/dataTables.bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3 class="h-title">{{ lab }} - {{ lab.disciplina }} - Submissões...</h3>
    </div>

    <div class="form-group">
        <table class="table table-striped table-hover" id="table-submissoes" width="100%" style="cursor: pointer">
            <thead class="thead-inverse">
                <td style="width: 5%">ID</td>
                <td>Data</td>
                <td width="10%">Testes</td>
            </thead>
            {% for submissao in submissoes %}
                <tr>
                    <td>{{ submissao.id }}</td>
                    <td>{{ submissao.data_submissao }}</td>
                    <td>{{ submissao.qtd_testes_corretos }}/{{ lab.qtd_testes }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <div class="row">
        <button class="btn btn-default" type="button" onclick="on_click_submeter()"><i class="material-icons">cloud_upload</i> Submeter</button>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'susana/dist/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'susana/dist/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'susana/dist/js/dataTables.datetime-eu.js' %}"></script>

    <script>
        $(document).ready(function() {
            var table = $('#table-submissoes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
                },
                columnDefs: [
                    {"type": "datetime-eu", targets: 1}
                ]
            });

            // evento onclick da tabela
            $('#table-submissoes tbody').on('click', 'tr', function() {
                var id = table.row(this).data()[0];

                // envia o dado ao seleciona submissao
                window.location.href = "/labs/seleciona_submissao/" + id + "/";
            });
        });

        function on_click_submeter() {
            // redireciona para a tela de submissão para esse lab
            window.location.href = "{% url 'labs:nova_submissao' lab.id %}";
        }
    </script>
{% endblock %}