{% extends 'susana/dashboard.html' %}

{% load staticfiles %}

{% block content %}
    <div class="page-header">
        <h3 class="h-title">Submeter - {{ lab }}...</h3>
    </div>

    <form action="" method="post" role="form">
    	<div class="form-group">
    		<label for="arquivos" class="control-label" style="font-size: 30px;">Selecione o(s) arquivo(s)...</label>
    		<input type="file" class="form-control" name="arquivos" id="arquivos" multiple>
            <input readonly="" class="form-control" type="text">
    	</div>

        <br>

        <hr>
    	<button type="submit" class="btn btn-default btn-primary ">Submeter</button>
    </form>
{% endblock %}

{% block footer %}
    <script>
    </script>
{% endblock %}