{% extends 'susana/dashboard.html' %}

{% load staticfiles %}

{% block content %}
    <div class="page-header">
        <h3 class="h-title">Submeter - {{ lab }}...</h3>
    </div>

    <form action="{% url 'labs:submeter' lab.id %}" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
    	<div class="form-group">
    		<label for="arquivos" class="control-label" style="font-size: 30px;">Selecione o(s) arquivo(s)...</label>
    		<input type="file" class="form-control" name="arquivos" id="arquivos" multiple>
            <input readonly="" class="form-control" type="text">
    	</div>

        <br>

        <div class="row">
            <div class="form-group label-floating col-md-2">
                <label for="linguagem" class="control-label">Linguagem (*)</label>
                <select id="linguagem" name="linguagem" class="form-control">
                    <option value="c">C</option>
                    <option value="python">Python 3</option>
                </select>
            </div>
        </div>

        <hr>
    	<button type="submit" class="btn btn-default btn-primary ">Submeter</button>
    </form>
{% endblock %}

{% block footer %}
    <script>
    </script>
{% endblock %}