<form action="" method="post" id="form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h3 class="modal-title h-title" id="alterarDialogLabel">
            {% if nova_disciplina %}
                <i class="material-icons">add_circle</i> Nova Disciplina
            {% else %}
                <i class="material-icons">update</i> Alterar Disciplina
            {% endif %}
        </h3>
    </div>

    <div id="alterarDialogBody" class="modal-body">
        <div class="row">
            <div class="form-group label-floating col-md-2">
                <label for="id" class="control-label">ID</label>
                <input name="id" id="id" class="form-control" {% if disciplina.id %}value="{{ disciplina.id }}"{% endif %} readonly>
            </div>
            <div class="form-group label-floating col-md-8">
                <label for="codigo" class="control-label">Código (*)</label>
                <input name="codigo" id="codigo" class="form-control" onkeyup="to_upper(this);" {% if disciplina.codigo %}value="{{ disciplina.codigo }}" readonly{% endif %} maxlength="5" required oninvalid="this.setCustomValidity('Campo requerido')" onchange="try{setCustomValidity('')}catch(e){}">
            </div>
            <div class="form-group label-floating col-md-2">
                <label for="turma" class="control-label">Turma (*)</label>
                <input name="turma" id="turma" class="form-control" onkeyup="to_upper(this);" {% if disciplina.turma %}value="{{ disciplina.turma }}" readonly{% endif %} maxlength="2" required oninvalid="this.setCustomValidity('Campo requerido')" onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>

        <div class="row">
            <div class="form-group label-floating col-md-12">
                <label for="descricao" class="control-label">Descrição</label>
                <input name="descricao" id="descricao" class="form-control" {% if disciplina.descricao %}value="{{ disciplina.descricao }}" readonly{% endif %} maxlength="100">
            </div>
        </div>


        <!-- Diálogo para confirmação de exclusão -->
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Você tem certeza que quer excluir o grupo '{{ grupo.id }}'?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btExcluir"><i class="material-icons">delete</i> Excluir</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default"><i class="material-icons">cancel</i> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="material-icons">cancel</i> Cancelar</button>
        <button type="submit" class="btn btn-primary"  id="btSalvar">
            <i class="material-icons">save</i> Salvar
        </button>
        {% if not nova_disciplina %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal"><i class="material-icons">delete</i> Excluir</button>
        {% endif %}
    </div>
</form>

<script>
    $("#btExcluir").click(function() {
        // submete o form para excluir
        $("#form").submit();
    });
</script>